.counter h2 {
    margin: 5px;
}

.counter {
    background-color: #aaaaaa;
    color: #595759;
    border: #595759 2px solid;
    text-align: center;
}

.counter button {
    font-size: large;
    background-color: white;
    border: #595759 1px solid;
    border-radius: 3px;
}

.counter button:hover {
    background-color: #77787a;
}

.minusButton {
    position: relative;
    left: -30px;
    height: 30px;
    width: 30px;
}

.plusButton {
    position: relative;
    right: -30px;
    height: 30px;
    width: 30px;
}

.startButton {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
}

.counterHolder {
    width: 100px;
}

.App-logo {
    height: 30px;
    animation: App-logo-spin-forward infinite 0s linear;
}

.App-logo:hover {
    animation: App-logo-spin-forward infinite 5s linear;
}

@keyframes App-logo-spin-forward {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}