.timer{
    position: center;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS", monospace;
    color: #3d556a;
    background-color: #aaaaaa;
}