.App {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 20px;
  background: antiquewhite;
}
.input {
  padding: 20px;
  background: aliceblue;
}
